<h1>Create a New Event</h1>

<%= form_with model: @event, url: events_path, local: true do |f| %>
  <div>
    <%= f.label :name, "Event Name" %>
    <%= f.text_field :name, required: true %>
  </div>

  <div>
    <%= f.label :description, "Event Description" %>
    <%= f.text_area :description, required: true %>
  </div>

  <div>
    <%= f.label :location, "Event Location" %>
    <%= f.text_field :location, required: true %>
  </div>

  <div>
    <%= f.label :date, "Event Date and Time" %>
    <%= f.datetime_field :date, required: true %>
  </div>

  <div>
    <%= f.label :total_tickets, "Total Tickets Available" %>
    <%= f.number_field :total_tickets, min: 1, required: true %>
  </div>

  <div>
    <%= f.submit "Create Event" %>
  </div>
<% end %>

<%= link_to 'Back to Events', events_path, class: 'btn' %>